<head>
	<meta charset="utf-8">
	<meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		{% if page.title %}
			{{ page.title | escape }}
		{% else %}
			{{ site.data.main.title | escape }}
		{% endif %}
	</title>

	{% include base.html %}
	<link rel="stylesheet" href="{{base}}/assets/styles/main.css">
	<link rel="apple-touch-icon" href="{{base}}/apple-touch-icon.png">

	<link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
	<link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ '/feed.xml' | relative_url }}">
</head>